
body {
    background-color: #176802;
    font-family: 'Arial', sans-serif;
}
#payment-form {
    background-color: rgba(0, 1, 1, 0.719);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
h4 {
    text-align: center;
    color: #fc06ec;
}
::placeholder {
    text-align: center;
    color: #fc06ec;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #fc06ec;
}
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #b30092;
}

a.button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
a.button:hover {
    background-color: #b300ad;
}







































